In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.DataFrame({'x_1': ['A', 'B', 'C'] * 3, 
                    'y_1': ['D', 'E', 'F'] * 3, 
                    'z': np.random.randint(0, 20, 9)})
df1

  x_1 y_1   z
0   A   D   5
1   B   E   3
2   C   F  15
3   A   D   1
4   B   E  11
5   C   F   9
6   A   D  17
7   B   E   1
8   C   F  14

In [ ]:
df2 = pd.DataFrame({'x_2': ['A', 'B', 'C'] * 4, 
                    'y_2': ['D', 'E'] * 6, 
                    'z': np.random.randint(0, 20, 12)})
df2

   x_2 y_2   z
0    A   D  16
1    B   E   4
2    C   D   2
3    A   E  13
4    B   D  10
5    C   E  17
6    A   D  17
7    B   E  13
8    C   D   5
9    A   E   8
10   B   D  12
11   C   E  11

## 1. Объединение двух Pandas датафреймов (df1 и df2) по двум столбцам (x_1, y_1 и x_2, y_2)

In [ ]:
# остаются общие строки (создается df3)

df_3 = pd.merge(df1, df2, 
                how='inner',
                left_on=['x_1', 'y_1'],
                right_on=['x_2', 'y_2'],
                suffixes=['_left', '_right'])
df_3

   x_1 y_1  z_left x_2 y_2  z_right
0    A   D       5   A   D       16
1    A   D       5   A   D       17
2    A   D       1   A   D       16
3    A   D       1   A   D       17
4    A   D      17   A   D       16
5    A   D      17   A   D       17
6    B   E       3   B   E        4
7    B   E       3   B   E       13
8    B   E      11   B   E        4
9    B   E      11   B   E       13
10   B   E       1   B   E        4
11   B   E       1   B   E       13

In [ ]:
# остаются все строки (создается df4)

df_4 = pd.merge(df1, df2, 
                how='outer',
                left_on=['x_1', 'y_1'],
                right_on=['x_2', 'y_2'],
                suffixes=['_left', '_right'])
df_4

    x_1  y_1  z_left  x_2  y_2  z_right
0     A    D     5.0    A    D     16.0
1     A    D     5.0    A    D     17.0
2     A    D     1.0    A    D     16.0
3     A    D     1.0    A    D     17.0
4     A    D    17.0    A    D     16.0
5     A    D    17.0    A    D     17.0
6     B    E     3.0    B    E      4.0
7     B    E     3.0    B    E     13.0
8     B    E    11.0    B    E      4.0
9     B    E    11.0    B    E     13.0
10    B    E     1.0    B    E      4.0
11    B    E     1.0    B    E     13.0
12    C    F    15.0  NaN  NaN      NaN
13    C    F     9.0  NaN  NaN      NaN
14    C    F    14.0  NaN  NaN      NaN
15  NaN  NaN     NaN    C    D      2.0
16  NaN  NaN     NaN    C    D      5.0
17  NaN  NaN     NaN    A    E     13.0
18  NaN  NaN     NaN    A    E      8.0
19  NaN  NaN     NaN    B    D     10.0
20  NaN  NaN     NaN    B    D     12.0
21  NaN  NaN     NaN    C    E     17.0
22  NaN  NaN     NaN    C    E     11.0

## 2. Нахождение в датафрейме df4 позиций всех отсутствующих значений и замена их значением 0

In [ ]:
# список из «координат» значений NaN в датафрейме df4

data = df_4.stack(dropna=False) 
list_coordinates = [list(i) for i in data.index[data.isna()]]
list_coordinates

[[12, 'x_2'],
 [12, 'y_2'],
 [12, 'z_right'],
 [13, 'x_2'],
 [13, 'y_2'],
 [13, 'z_right'],
 [14, 'x_2'],
 [14, 'y_2'],
 [14, 'z_right'],
 [15, 'x_1'],
 [15, 'y_1'],
 [15, 'z_left'],
 [16, 'x_1'],
 [16, 'y_1'],
 [16, 'z_left'],
 [17, 'x_1'],
 [17, 'y_1'],
 [17, 'z_left'],
 [18, 'x_1'],
 [18, 'y_1'],
 [18, 'z_left'],
 [19, 'x_1'],
 [19, 'y_1'],
 [19, 'z_left'],
 [20, 'x_1'],
 [20, 'y_1'],
 [20, 'z_left'],
 [21, 'x_1'],
 [21, 'y_1'],
 [21, 'z_left'],
 [22, 'x_1'],
 [22, 'y_1'],
 [22, 'z_left']]

In [ ]:
# замена всех отсутствующих значений в датафрейме df4 значением 0

def replacement_val(A, lst):
    for i in lst:
        a, b = i
        A.loc[a, b] = 0
    return A
replacement_val(df_4, list_coordinates)

   x_1 y_1  z_left x_2 y_2  z_right
0    A   D     5.0   A   D     16.0
1    A   D     5.0   A   D     17.0
2    A   D     1.0   A   D     16.0
3    A   D     1.0   A   D     17.0
4    A   D    17.0   A   D     16.0
5    A   D    17.0   A   D     17.0
6    B   E     3.0   B   E      4.0
7    B   E     3.0   B   E     13.0
8    B   E    11.0   B   E      4.0
9    B   E    11.0   B   E     13.0
10   B   E     1.0   B   E      4.0
11   B   E     1.0   B   E     13.0
12   C   F    15.0   0   0      0.0
13   C   F     9.0   0   0      0.0
14   C   F    14.0   0   0      0.0
15   0   0     0.0   C   D      2.0
16   0   0     0.0   C   D      5.0
17   0   0     0.0   A   E     13.0
18   0   0     0.0   A   E      8.0
19   0   0     0.0   B   D     10.0
20   0   0     0.0   B   D     12.0
21   0   0     0.0   C   E     17.0
22   0   0     0.0   C   E     11.0

## 3. Добавление к датафрейму df4 столбца z_avg, в котором вычисляется среднее арифметическое z_left и z_right

In [ ]:
df_4['z_avg'] = (df_4['z_left'] + df_4['z_right']) / 2
df_4

   x_1 y_1  z_left x_2 y_2  z_right  z_avg
0    A   D     5.0   A   D     16.0   10.5
1    A   D     5.0   A   D     17.0   11.0
2    A   D     1.0   A   D     16.0    8.5
3    A   D     1.0   A   D     17.0    9.0
4    A   D    17.0   A   D     16.0   16.5
5    A   D    17.0   A   D     17.0   17.0
6    B   E     3.0   B   E      4.0    3.5
7    B   E     3.0   B   E     13.0    8.0
8    B   E    11.0   B   E      4.0    7.5
9    B   E    11.0   B   E     13.0   12.0
10   B   E     1.0   B   E      4.0    2.5
11   B   E     1.0   B   E     13.0    7.0
12   C   F    15.0   0   0      0.0    7.5
13   C   F     9.0   0   0      0.0    4.5
14   C   F    14.0   0   0      0.0    7.0
15   0   0     0.0   C   D      2.0    1.0
16   0   0     0.0   C   D      5.0    2.5
17   0   0     0.0   A   E     13.0    6.5
18   0   0     0.0   A   E      8.0    4.0
19   0   0     0.0   B   D     10.0    5.0
20   0   0     0.0   B   D     12.0    6.0
21   0   0     0.0   C   E     17.0    8.5
22   0   0     0.0   C   E     11.0    5.5